<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="NanoGym"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymRutinaProyect"
        tools:targetApi="31">
        <activity
            android:name=".pesaje.ventanaPesaje"
            android:exported="false" />
        <activity
            android:name=".eventos.tipo_Eventos"
            android:exported="false" />
        <activity
            android:name=".eventos.ejer_eventos"
            android:exported="false" />
        <activity
            android:name=".eventos.dias_Eventos"
            android:exported="false" />
        <activity
            android:name=".eventos.ventanaEventos"
            android:exported="false" />
        <activity
            android:name=".ventanaAjuste"
            android:exported="false" />
        <activity
            android:name=".ventanashistorial.ventanaHistorial"
            android:exported="false" />
        <activity
            android:name=".ventanashistorial.ventanaBTejer"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ventanasentrenar.ventanaRutEjerc"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- Para desactiivar la rotacion, solo vertical -->
        <activity
            android:name=".ventanasentrenar.ventana_entrenar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ventanascrear.ventanaEjercicios"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GymRutinaProyect" />
        <activity
            android:name=".ventanascrear.ventanaRutinas"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ventanasentrenar.ventana_dias"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>